@font-face {
    font-family: "Norse Bold";
    src: url("./Norse-Bold.otf") format("opentype");
}

:root {
    font-size: 10px;
    font-weight: 600;
}

h2 {
    padding: 20px;
}
li {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

button {
    cursor: pointer;
    margin: 20px;
    height: 40px;
    width: 200px;
    font-size: 12px;
    color: white;
    background-color: #596D48;
    border-radius: 5px;
    
}

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.logo {
    display: flex;
    align-content: flex-start;
    background: url(./img/halie-west.jpg) no-repeat center;
    background-size: cover;
    border: 1px solid white;
    width: 40%;
    height: 100%;
    align-content: center;
    justify-content: center;
}

.form-section {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

a {
    text-decoration: none;
    color: #596D48;
}

h1 {
    padding-left: 40px;
}


.error {
    border: 1px solid red;
}

.match {
    border: 1px solid green;
}

.odin {
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 40%;
    opacity: .5;
    background-color: black ;
    width: 39%;
    color: white;
    font-size: 24px;
    padding: 10px;
    font-family: "Norse Bold";
}

.odin img {
    height: 10vh;
    width: auto;
    position: absolute;
    bottom: 30px;
    left: 210px;
}

.account {
    background-color: aliceblue;
    padding-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding-bottom: 40px;
}

.intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    padding-left: 20px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 25px;
    background-color: aliceblue;
}

form {
    display: flex;
    flex-direction: column;
    color: darkgray;
}

.names,
.emails,
.passwords {
    display: flex;
    flex-direction: row;
    gap: 25px;

}

.login {
    color: #596D48;
}

.form-subsection {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus {
    border: 1px blue;
    border-color: blue;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    height: 15px;
    width: 160px;
}

input {
    height: 15px;
    width: 160px;
    border-radius: 5px;
}