:root {
    font-size: 10px;
    font-weight: 600;
}

li {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.logo {
    display: flex;
    align-content: flex-start;
    background: url(./img/halie-west.jpg) no-repeat center;
    background-size: cover;
    width: 50%;
    height: 96%;
    align-content: center;
    justify-content: center;
}

.form-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    padding-left: 20px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 25px;
    background-color: aliceblue;
}

form {
    display: flex;
    flex-direction: column;
}

.names,
.emails,
.passwords {
    display: flex;
    flex-direction: row;
    gap: 25px;

}

input:focus {
    border-color: yellow;
}

